.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}

.nav-logo img{
    width: 70px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    font-size: 30px;
    font-weight: 600;
    color:#2c0735;
}

.nav-menu{
    display: flex;
    align-items: center;
    font-weight: 500px;
    gap: 40px;
    font-size: 20px;
    color: #86756e;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.nav-menu hr{
    background-color: red;
    width: 80px;
    border-radius: 10px;
    height: 3px;
    border: none;
}


.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    cursor: pointer;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    color: #2c0735;
    background-color: aliceblue;
    border: 1px solid #2c0735;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.nav-login-cart button:active{
    background-color: #efd9ce;
}
.nav-card-count{
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
    border-radius: 50%;
    font-size: 17px;
    margin-top: -35px;
    margin-left: -55px;
    background-color: red;
    color: white;
}

.nav-dropdown{
    display: none;
}
.nav-login-cart .svg-inline--fa {
   font-size: 2em;
  }


  @media(max-width:1280px){
    .navbar{
        padding: 10px 45px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap:30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
    .nav-card-count{
    margin-bottom: 9px;
    margin-right: 12px;
        font-size: 12px;
    }
  }

  @media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
    width: 80px;
    height: 35px;
    font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-card-count{
        width: 18px;
        height: 18px;
    }
  }

  @media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu{
        display:none;
        height: 80px;
        width: 100px;
        position: absolute;
        background-color: aliceblue;
        justify-content: center;
        top: 50px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
  }

  @media(max-width:500px){
    .navbar{
        width: 8px 0px;
        gap: 0px;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    } 
    .nav-login-cart{
        transform: scale(0.8);
    }
  
}