.offers{
    width:65%;
    margin-top: 25px;
    background: linear-gradient(180deg,#ffc8dd,#efebeb 60%);
    display: flex;
    height: 60vh;
    margin: auto;
    padding: 0px 140px;
    margin-top: 90px;
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: black;
    font-weight: 600;
    font-size: 70px;
}
.offers-left p{
    color: rgb(29, 8, 29);
    font-size: 25px;
    font-weight: 600;
}

.offers-left button{
width: 150px;
height: 65px;
border-radius: 35px;
background: rgb(237, 42, 42);
border: none;
color: #e3d5ca;
font-size: 22px;
font-weight: 400;
margin-top: 30px;
cursor: pointer;
}

.exclusive_img{
    width: 320px;
    margin-bottom: 90px;
}

.offers-rigth{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

@media(max-width:1280px){
    .offers{
        padding:0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-rigth img{
        width: 300px;
    }
    .offers-left button{
        width:220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-rigth{
        padding-top:30px ;
    }

}




@media(max-width:1024px){
    .offers{
        padding:0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 30px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-rigth img{
        width: 200px;
    }
    .offers-left button{
        width:160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-rigth{
        padding-top:10px ;
    }

}


@media(max-width:800px){
    .offers{
        margin-bottom: 60px;
    }
    .offers-left h1{
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-rigth img{
        width: 180px;
    }
    .offers-left button{
        width:140px;
        height: 30px;
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    .offers {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 180px;
        padding: 20px;
    }
    .offers-left {
        align-items: center;
        text-align: center;
    }
    .offers-left h1 {
        font-size: 16px;
    }
    .offers-left p {
        font-size: 10px;
    }
    .offers-rigth {
        padding-top: 0;
        justify-content: center;
        margin-top: 20px;
    }
    .exclusive_img {
        width: 120px;
        margin-bottom: 0;
    }
    .offers-left button {
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
}